services:
  app-bulk-price-manipulator:
    image: ghcr.io/djkato/saleor-app-bulk-price-manipulator:1.0.1
    restart: unless-stopped
    stdin_open: true
    env_file:
    - docker-bulk-price-manipulator.env
    networks:
    - saleor-app-tier
    depends_on:
    - redis-apl
    ports:
      - 30003:3000

  app-payment-gateway:
    image: ghcr.io/djkato/saleor-app-simple-payment-gateway:0.1.2
    tty: true
    restart: unless-stopped
    stdin_open: true
    env_file:
      - docker-gateway.env
    networks:
      - saleor-app-tier
    depends_on:
      - redis-apl
    ports:
      - 3001:3000

  app-sitemap-generator:
    tty: true
    restart: unless-stopped
    stdin_open: true
    image: ghcr.io/djkato/saleor-app-sitemap-generator:1.0.1
    env_file:
      - docker-sitemap.env
    networks:
      - saleor-app-tier
    depends_on:
      - redis-apl
    ports:
      - 3002:3000
    volumes:
      - sitemaps:/sitemaps

  redis-apl:
    image: bitnami/redis:latest
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - DISABLE_COMMANDS=FLUSHDB,FLUSHALL,CONFIG
    ports:
      - 6380:6379
    restart: unless-stopped
    networks:
      - saleor-app-tier
    volumes:
      - redis-apl:/bitnami/redis/data

volumes:
  redis-apl:
    driver: local
    driver_opts:
      type: none
      device: ./temp/volumes/redis/
      o: bind
  sitemaps:
    driver: local
    driver_opts:
      type: none
      device: ./temp/docker-sitemaps/
      o: bind

networks:
  saleor-app-tier:
    driver: bridge
